{% macro header(nav) %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="build/css/styles.css">
</head>
<body>
    <header>

        <div class="container">

            <nav class="nav justify-content-center">

                {% for item in nav %}

                    <a class="nav-link active" href="{{ item.link }}">{{ item.name }}</a>

                {% endfor %}
            </nav>

        </div>

    </header>

{% endmacro %}
